@{
    ViewData["Title"] = "FontAwesome Tag Helper Demos";
}

<h1>TagHelper Demos</h1>

<h2>Bool-Font-Awesome</h2>

<p>Renders a bool as a Font Awesome Icon</p>

<div class="row">
    <div class="col-4">
        <h3>True Example <bool-font-awesome-icon value="true"/></h3>
        <code>
            &lt;bool-font-awesome-icon value="true" /&gt;
        </code>
    </div>
    <div class="col-4">
        <h3>False Example <bool-font-awesome-icon value="false"/></h3>
        <code>
            &lt;bool-font-awesome-icon value="true" /&gt;
        </code>
    </div>
    <div class="col-4">
        <h3>False Example Custom <bool-font-awesome-icon value="false" false-icon-class="fas fa-clock text-danger"/></h3>
        <code>
            &lt;bool-font-awesome-icon value="true" false-icon-class="fas fa-clock text-danger" /&gt;
        </code>
    </div>
</div>


<h2>Int-Font-Awesome</h2>

<p>Renders a nullable int as a Font Awesome icon when null</p>

<div class="row">
    <div class="col-4">
        <h3>Null Example <int-font-awesome-icon value="null"/></h3>
        <code>
            &lt;int-font-awesome-icon value="null" /&gt;
        </code>
    </div>
    <div class="col-4">
        <h3>Value Example <int-font-awesome-icon value="15"/></h3>
        <code>
            &lt;int-font-awesome-icon value="15" /&gt;
        </code>
    </div>
    <div class="col-4">
        <h3>Null Custom <int-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger"/></h3>
        <code>
            &lt;int-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
        </code>
    </div>
</div>


<h2>Decimal-Font-Awesome</h2>

<p>Renders a nullable decimal as a Font Awesome icon when null</p>

<div class="row">
    <div class="col-3">
        <h3>Null Example <decimal-font-awesome-icon value="null"/></h3>
        <code>
            &lt;decimal-font-awesome-icon value="null" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Value Example <decimal-font-awesome-icon value="15.99m"/></h3>
        <code>
            &lt;decimal-font-awesome-icon value="15" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Formatted Value Example <decimal-font-awesome-icon value="15.99m" format="C"/></h3>
        <code>
            &lt;decimal-font-awesome-icon value="15" format="C" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Null Custom <decimal-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger"/></h3>
        <code>
            &lt;decimal-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
        </code>
    </div>
</div>

<h2>DateTime-Font-Awesome</h2>

<p>Renders a nullable datetime as a Font Awesome icon when null</p>

<div class="row">
    <div class="col-3">
        <h3>Null Example <date-time-font-awesome-icon value="null"/></h3>
        <code>
            &lt;date-time-font-awesome-icon value="null" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Value Example <date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)"/></h3>
        <code>
            &lt;date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Formatted Value Example <date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" format="MM/dd/yyyy"/></h3>
        <code>
            &lt;date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" format="MM/dd/yyyy" /&gt;
        </code>
    </div>
    <div class="col-3">
        <h3>Null Custom <date-time-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger"/></h3>
        <code>
            &lt;date-time-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
        </code>
    </div>
</div>